
/*COPYLEFT BY ACTWU  ITS WHAT MADE WITH ANY CODE COPY FROM THIS MUST CREDIT SHOULD NOT BE COPIED ALL COPIES THAT IS NOT NOTED BY ACTWU IS PROHIBITED*//*https://actwu.github.io/ui/base*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen {
::-webkit-scrollbar { /*_irie*/ width: 12px;  height: 12px;}
::-webkit-scrollbar-thumb {  background: #888;  /*_urh*/ border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {  background: #555;} 

  
html, body {
height: 100vh;
margin: 0;
overflow: hidden; 
display: flex;
flex-direction: column; 
}

*,*:hover{
margin: 0;
border: unset;
outline: unset;
border-radius: 0;
color: #fafaff;
font-weight: 500;
flex-wrap: wrap;
font-size: 18px;
text-decoration: none; 
text-rendering: optimizeLegibility;
text-transform: none; 
--red: #EF7C8E;  --blue: #305bc7;  --yell: #fcda6a;  --green: #50de89;  --pink: #F1CCD7;  --vio: #bb78fa;  --matte: #fff2ff;  --black: #101020;

--red2: #661e28;  --blue2: #0d1938;  --yell2: #807142;  --green2: #278c50;  --pink2: #8c5f6d; --vio2: #492d63;  --matte2: #a18fa1;  --black2: #505060;


font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

bg {
display: block;
flex-grow: 1;
position:fixed;
z-index:-1;
min-width: 0%;
min-height: 0vh; 
width: 100%;
height: 100vh;  
}
screen {z-index: 1;top:0;left:0;right:0;bottom:0;position:fixed;display:block;}
screen#logo {top: 0px;right: 0px;left: 0px;bottom: 0px;width: 0%;height: 0%;z-index: 0;position: fixed;font-size: .3in;size: 0%;animation: logoscreen 2s;opacity: 0%;display: grid;place-content: center;justify-content: center;flex-wrap: wrap;overflow-y: scroll;}screen#logo * {display: grid;place-content: center;justify-content: center;flex-wrap: wrap;z-index: 4;}@keyframes logoscreen {0%,50%{z-index: 4;width: auto;height: auto;opacity: 100%;size: auto;}100% {z-index: 4;width: auto;height: auto;opacity: 0%;size: auto;}}

}
@media screen {

[r] {color: var(--red);}
[rbg] {background-color: var(--red);}
[rol] {outline: var(--red) solid 2px}
[l] {color: var(--blue);}
[lbg] {background-color: var(--blue);}
[lol] {outline: var(--blue) solid 2px}
[y] {color: var(--yell);}
[ybg] {background-color: var(--yell);}
[yol] {outline: var(--yell) solid 2px}

[r2] {color: var(--red2);}
[rbg2] {background-color: var(--red2);}
[rol2] {outline: var(--red2) solid 2px}
[l2] {color: var(--blue);}
[lbg2] {background-color: var(--blue2);}
[lol2] {outline: var(--blue) solid 2px}
[y2] {color: var(--yell2);}
[ybg2] {background-color: var(--yell2);}
[yol2] {outline: var(--yell2) solid 2px}


[g] {color: var(--green);}
[gbg] {background-color: var(--green);}
[gol] {outline: var(--green) solid 2px}
[p] {color: var(--pink);}
[pbg] {background-color: var(--pink);}
[pol] {outline: var(--pink) solid 2px}
[v] {color: var(--vio);}
[vbg] {background-color: var(--vio);}
[vol] {outline: var(--vio) solid 2px}

[g2] {color: var(--green2);}
[gbg2] {background-color: var(--green2);}
[gol2] {outline: var(--green2) solid 2px}
[p2] {color: var(--pink2);}
[pbg2] {background-color: var(--pink2);}
[pol2] {outline: var(--pink2) solid 2px}
[v2] {color: var(--vio2);}
[vbg2] {background-color: var(--vio2);}
[vol2] {outline: var(--vio2) solid 2px}



[b] {color: var(--black);}
[bbg] {background-color: var(--black);}
[bol] {outline: var(--black) solid 2px}

[b2] {color: var(--black2);}
[bbg2] {background-color: var(--black2);}
[bol2] {outline: var(--black2) solid 2px}


[m] {color: var(--matte);}
[mbg] {background-color: var(--matte);}
[mol] {outline: var(--matte) solid 2px}

[m2] {color: var(--matte2);}
[mbg2] {background-color: var(--matte2);}
[mol2] {outline: var(--matte2) solid 2px}

  [rsh] {border-bottom: 4px solid color-mix(in srgb, var(--red) 75%, black); transform: translateY(0); transition: 0.2s;}
[rsh]:hover {border-bottom-color: color-mix(in srgb, var(--red) 0%, black); transform: translateY(2px);}

[rsh2] {border-bottom: 4px solid color-mix(in srgb, var(--red2) 75%, black); transform: translateY(0); transition: 0.2s;}
[rsh2]:hover {border-bottom-color: color-mix(in srgb, var(--red2) 0%, black); transform: translateY(2px);}

[lsh] {border-bottom: 4px solid color-mix(in srgb, var(--blue) 75%, black); transform: translateY(0); transition: 0.2s;}
[lsh]:hover {border-bottom-color: color-mix(in srgb, var(--blue) 0%, black); transform: translateY(2px);}

[lsh2] {border-bottom: 4px solid color-mix(in srgb, var(--blue2) 75%, black); transform: translateY(0); transition: 0.2s;}
[lsh2]:hover {border-bottom-color: color-mix(in srgb, var(--blue2) 0%, black); transform: translateY(2px);}

[ysh] {border-bottom: 4px solid color-mix(in srgb, var(--yell) 75%, black); transform: translateY(0); transition: 0.2s;}
[ysh]:hover {border-bottom-color: color-mix(in srgb, var(--yell) 0%, black); transform: translateY(2px);}

[ysh2] {border-bottom: 4px solid color-mix(in srgb, var(--yell2) 75%, black); transform: translateY(0); transition: 0.2s;}
[ysh2]:hover {border-bottom-color: color-mix(in srgb, var(--yell2) 0%, black); transform: translateY(2px);}

[gsh] {border-bottom: 4px solid color-mix(in srgb, var(--green) 75%, black); transform: translateY(0); transition: 0.2s;}
[gsh]:hover {border-bottom-color: color-mix(in srgb, var(--green) 0%, black); transform: translateY(2px);}

[gsh2] {border-bottom: 4px solid color-mix(in srgb, var(--green2) 75%, black); transform: translateY(0); transition: 0.2s;}
[gsh2]:hover {border-bottom-color: color-mix(in srgb, var(--green2) 0%, black); transform: translateY(2px);}

[psh] {border-bottom: 4px solid color-mix(in srgb, var(--pink) 75%, black); transform: translateY(0); transition: 0.2s;}
[psh]:hover {border-bottom-color: color-mix(in srgb, var(--pink) 0%, black); transform: translateY(2px);}

[psh2] {border-bottom: 4px solid color-mix(in srgb, var(--pink2) 75%, black); transform: translateY(0); transition: 0.2s;}
[psh2]:hover {border-bottom-color: color-mix(in srgb, var(--pink2) 0%, black); transform: translateY(2px);}

[vsh] {border-bottom: 4px solid color-mix(in srgb, var(--vio) 75%, black); transform: translateY(0); transition: 0.2s;}
[vsh]:hover {border-bottom-color: color-mix(in srgb, var(--vio) 0%, black); transform: translateY(2px);}

[vsh2] {border-bottom: 4px solid color-mix(in srgb, var(--vio2) 75%, black); transform: translateY(0); transition: 0.2s;}
[vsh2]:hover {border-bottom-color: color-mix(in srgb, var(--vio2) 0%, black); transform: translateY(2px);}

[bsh] {border-bottom: 4px solid color-mix(in srgb, var(--black) 75%, black); transform: translateY(0); transition: 0.2s;}
[bsh]:hover {border-bottom-color: color-mix(in srgb, var(--black) 0%, black); transform: translateY(2px);}

[bsh2] {border-bottom: 4px solid color-mix(in srgb, var(--black2) 75%, black); transform: translateY(0); transition: 0.2s;}
[bsh2]:hover {border-bottom-color: color-mix(in srgb, var(--black2) 0%, black); transform: translateY(2px);}

[msh] {border-bottom: 4px solid color-mix(in srgb, var(--matte) 75%, black); transform: translateY(0); transition: 0.2s;}
[msh]:hover {border-bottom-color: color-mix(in srgb, var(--matte) 0%, black); transform: translateY(2px);}

[msh2] {border-bottom: 4px solid color-mix(in srgb, var(--matte2) 75%, black); transform: translateY(0); transition: 0.2s;}
[msh2]:hover {border-bottom-color: color-mix(in srgb, var(--matte2) 0%, black); transform: translateY(2px);}

}
/*COPYLEFT BY ACTWU  ITS WHAT MADE WITH ANY CODE COPY FROM THIS MUST CREDIT SHOULD NOT BE COPIED ALL COPIES THAT IS NOT NOTED BY ACTWU IS PROHIBITED*//*https://actwu.github.io/ui/cute*/

@media screen {

section {
display:contents;
justify-content: center;
min-width: 0%;
min-height: 0vh; 
width: 100%;
}
div:not(div[scroll]) {
display: block;
padding: 0.3em;
place-content: center;
place-items: center;

flex-grow: 1; 

border: unset;
width: auto;
height: auto;
min-width: 0.5in;
min-height: 0.5in;  
gap: 2px;
}


span {
flex-grow: 1;

display: flex;
flex-direction: row;

}

}


@media screen {

div[box], a[box] {
flex-grow: 1; 
border: unset;
max-width: 1in;
}

div[scroll]{

display: block;
padding: 0.1em;
flex-grow: 1; 
place-content: left;
border: unset;
width: auto;
height: auto;
min-width: 0.5in;
min-height: 0.5in;  
overflow-y: scroll;

}
  
[scroll] {
overflow-y: scroll;
}

div[scroll] *{
margin: 0.5em;
}

[sm] {
max-height: 2.8em;
}
[mid] {
max-height: 5em;
}

[auto] {
max-height: auto;
}

seo{
opacity:0;
visibility: hidden;
font-size: 0;
size:0;
width:0;
max-width:0;
z-index:-3;
bottom:0;
}
  
[hide] {
display: none;
visibility: hidden;
font-size: 0;
}


[lock] { user-select: none; }
[sticky] { position: sticky; }
[float] { position: fixed; }
[item] { display: flex; gap: 9px; justify-content: center; place-items: center; flex-wrap: wrap; gap: 0.1fr; }
[item-left] { display: flex; gap: 9px; justify-content: flex-start; place-content: flex-start; flex-grow: 1; flex-wrap: wrap; }
[item-right] { display: flex; gap: 9px; justify-content: flex-end; place-content: flex-end; flex-grow: 1; flex-wrap: wrap; }
[center], center { display: grid; justify-self: center; justify-items: center; place-content: center; place-items: center; place-self: center; }
[left] { display: grid; gap: 9px; justify-self: left; justify-content: left; place-content: left; place-items: left;}
[right] { display: grid; gap: 9px; justify-self: right; justify-content: right; place-content: right;place-items: right; }
[row] { display: flex; gap: 9px; flex-direction: row; justify-content: center; place-items: center; flex-wrap: wrap; }
[column], [col] { display: flex; gap: 9px; flex-direction: column; justify-content: center; place-items: center; flex-wrap: wrap; }
[last-first], [l-f], [left-to-right], [left-right] { display: flex; flex-direction: column-reverse; }
[row-last-first], [row-l-f], [row-left-to-right], [row-left-right], [last-first-row], [l-f-row], [left-to-right-row], [left-right-row] { display: flex; flex-direction: row-reverse; }
[grid] { gap: 9px; display: grid; justify-content: center; place-content: center; grid-template-columns: 3fr; grid-auto-rows: max-content; }
[gridby2] { gap: 9px; display: grid; justify-content: center; place-content: center; grid-template-columns: 1fr 1fr; grid-auto-rows: max-content; }
[gridby3] { gap: 9px; display: grid; justify-content: center; place-content: center; grid-template-columns: 1fr 1fr 1fr; grid-auto-rows: max-content; }
[gridby4] { gap: 9px; display: grid; justify-content: center; place-content: center; grid-template-columns: 1fr 1fr 1fr 1fr; grid-auto-rows: max-content; }
[stay] { flex-wrap: nowrap; }
[flow] { flex-wrap: wrap; }
[grid] {gap:5px;display: grid;justify-content: center;place-content: center;gap: 9px;grid-template-columns: 2.5fr;grid-auto-rows: max-content;}
[grid="2"] {display: grid; justify-content: center;place-content: center;gap: 5px;grid-template-columns: 1.23fr 1.23fr; grid-auto-rows: max-content;}
[grid="3"] {display: grid; justify-content: center;place-content: center;gap:5px;grid-template-columns: 0.8fr 0.8fr 0.8fr; grid-auto-rows: max-content;}
[grid="4"] {display: grid; justify-content: center;place-content: center;gap: 5px;grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr; grid-auto-rows: max-content;}
[layer="-1"] {z-index: -1;} [layer="0"] {z-index: 0;}
[layer="1" ] {z-index: 1;}  [layer="2"] {z-index: 2;}
[layer="3" ] {z-index: 3;} [layer="4" ] {z-index: 4;}
[layer="5" ] {z-index: 5;}                                     
[overlay] {z-index: 2;top:0;left:0;right:0;bottom:0;position:fixed;display:block;}
[bdr="0"] {border-radius:0;}
[bdr="10"] {border-radius:10px;}
[bdr="15"] {border-radius:15px;}
[bdr="25"] {border-radius:25px;}
[bdr="50"] {border-radius:50px;}
[bdr="100"] {border-radius:100px;}
[flip] {transform: rotate(180deg);}
[rotate] {transform: rotate(90deg);}
p[rotate]{transform: rotate(90deg), translateX(0.025em);}
[hide],[hide] *, .hide, .hide * { display:none; visibility:hidden; width:0;height:0; size:0;opacity:0%; font-size:0; color:transparent; background:transparent;position:fixed; top:0;z-index:-2;}
[nobdr] {border: unset; outline: none; box-shadow: none; }
}

@media screen {
p {
word-break: break-all;

}
p[title] {
font-size: 24px;
}
p.head, p[head] { font-size: 28px; }
p.small, p[small] { font-size: 10px; } 
p[caps] {text-transform: capitalize;}
p[up] {text-transform: uppercase;}
p[italic] {font-style: italic;}
p[bold] {font-weight: 700;}
p[light] {font-weight: lighter;}
p[mono],.mono {font-family: "Space Mono", monospace;}


/*COPYLEFT BY ACTWU  ITS WHAT MADE WITH ANY CODE COPY FROM THIS MUST CREDIT SHOULD NOT BE COPIED ALL COPIES THAT IS NOT NOTED BY ACTWU IS PROHIBITED*//*https://actwu.github.io/ui/cute*/

a {
display: grid;
place-content: center;
place-items: center;

flex-grow: 1; 

border: unset;
width: auto;
height: auto;
gap: 2px;
transition: opacity 1%;
}


a:hover {
opacity: 50%;
transition: opacity 1%;
display: grid;
place-content: center;
place-items: center;

flex-grow: 1; 

border: unset;
width: auto;
height: auto;
gap: 2px;
}

img, embed{
background-attachment: fixed;
image-rendering: auto;
display: flex;
flex-grow: 1; 
border: unset;
width: 100%;
height: auto;
max-height: 90vh;
}

/*COPYLEFT BY ACTWU  ITS WHAT MADE WITH ANY CODE COPY FROM THIS MUST CREDIT SHOULD NOT BE COPIED ALL COPIES THAT IS NOT NOTED BY ACTWU IS PROHIBITED*//*https://actwu.github.io/ui/cute*/

textarea, input {
padding: 1em;

width: auto;
background: var(--black2);

color: var(--matte);
}
}

@media screen {

    html {
        background: transparent;
    }
    bg {
        left:0px;
        top:0px;
    }
    body {
       
        padding:10px;
        background: transparent;
    }
*{--matte: #fafaff;
    --matte2: #e4e5f2;
}

    p {align-items:center;display:flex; gap:5px;}
main {
    height: 100dvh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;gap:5px;
}

section {
    display: flex;  margin:auto;
        max-width: 720px;
    flex-direction: column;gap:5px;
    min-height: 95dvh;
    height: 95dvh;
    scroll-snap-align: start;
}

[hidden]{display:none;}

}
